@import '/src/styles/mixin.scss';
.profile{
    background:#fafafa;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.container{
    width:70%;
    margin: 0 auto;
    @media screen and (max-width:769px) { 
        width:100%;
        padding:0 1rem;
    }
}
.contents{
    display: flex;
    justify-content: center;
    @media screen and (max-width:769px) { 
        display: block;
    }
}
.title{
    text-align: center;
    padding: 2.5rem 0;
    font-size: 3.5rem;
    @include mq(sp){
        font-size: 2rem;
    }
}
.icon{
    width: 150px;
    height: 150px;
    margin-right: 1rem;
    @include mq(sp){
        margin: 0 auto;
    }
}
.description{
    width:70%;
    line-height: 2rem;
    @include mq(sp){
        width:100%;
        margin: 0 auto;
    }
}
.description-text{
    margin:0;
    font-size: 14px;
}